/coursera-algorithms-part1.iml
/out
/queues/.idea/
/queues/.lift/
/collinear/.idea/
/collinear/.lift/
/collinear/*.txt
/collinear/*.png
/collinear/*.iml
/collinear/*.class
/queues/RandomizedQueue$MyIterator.class
/queues/mediumTale.txt
/queues/Deque.class
/queues/permutation6.txt
/queues/permutation8.txt
/queues/permutation4.txt
/queues/Deque$MyIterator.class
/queues/permutation10.txt
/queues/Deque$Node.class
/queues/tale.txt
/queues/queues.zip
/queues/distinct.txt
/queues/permutation5.txt
/queues/tinyTale.txt
/queues/Algorithms, Part I.iml
/queues/duplicates.txt
/queues/RandomizedQueue.class
/queues/Permutation.class
/queues/logo.png
/percolation/.idea/
/percolation/.lift/
/percolation/Algorithms, Part I.iml
/percolation/Computer Science.iml
/percolation/CREDITS
/percolation/greeting57.png
/percolation/greeting57.txt
/percolation/heart25.png
/percolation/heart25.txt
/percolation/input1.png
/percolation/input1.txt
/percolation/input1-no.png
/percolation/input1-no.txt
/percolation/input2.png
/percolation/input2.txt
/percolation/input2-no.png
/percolation/input2-no.txt
/percolation/input3.png
/percolation/input3.txt
/percolation/input4.png
/percolation/input4.txt
/percolation/input5.png
/percolation/input5.txt
/percolation/input6.png
/percolation/input6.txt
/percolation/input7.png
/percolation/input7.txt
/percolation/input8.png
/percolation/input8.txt
/percolation/input8-dups.png
/percolation/input8-dups.txt
/percolation/input8-no.png
/percolation/input8-no.txt
/percolation/input10.png
/percolation/input10.txt
/percolation/input10-no.png
/percolation/input10-no.txt
/percolation/input20.png
/percolation/input20.txt
/percolation/input50.png
/percolation/input50.txt
/percolation/InteractivePercolationVisualizer.java
/percolation/InteractivePercolationVisualizer.class
/percolation/java60.png
/percolation/java60.txt
/percolation/jerry47.png
/percolation/jerry47.txt
/percolation/logo.png
/percolation/PercolationVisualizer.java
/percolation/PercolationVisualizer.class
/percolation/sedgewick60.png
/percolation/sedgewick60.txt
/percolation/snake13.png
/percolation/snake13.txt
/percolation/snake101.png
/percolation/snake101.txt
/percolation/wayne98.png
/percolation/wayne98.txt
/percolation/Percolation.class
/percolation/percolation.zip
/percolation/PercolationStats.class
/.idea/libraries/
/.idea/checkstyle-idea.xml
/.idea/codeStyles
/.idea/dbnavigator.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
